<html>

<head>
	<meta charset="utf-8">
	<script>
	</script>
	<style>
	</style>

</head>

<body>

				<!--EMPIEZA FORMULARIOS-->
			<div class="row"  ng-controller="paso2Controller" >

					<div class="col-md-12">

								<!--Area de Canvas-->
								<div class="col-md-8">
								
									<div class="col-md-12"> 
										<fieldset class="scheduler-border">
												<legend class="scheduler-border">Plantilla Seleccionada
												</legend>
												<div id="Contenedor"
													style="overflow: scroll ;max-height: 45rem; width:50rem;">
													<div id="contenedorCanvas">
														<canvas id="canvas2" width="{{anchoBoleta}}"
															height=" {{altoBoleta}}"
															style="background-image: url('{{imgBoleta}}'); background-size:{{anchoBoleta}}  {{altoBoleta}};">
															Tu navegador no soporta canvas 3
														</canvas>
													</div>

												</div>

											</fieldset>
										</div>


								</div>
								<!--Area de Canvas-->

										<div class="col-md-4">
											<form name="marcasForm" novalidate>
												<div class="col-md-12">
													<fieldset class="scheduler-border">

														<legend class="scheduler-border">
															{{dataCrudStep.stepThree.flagEdit==true?'Actualizar Marca':'Agregar Marca'}}

														</legend>
														<div class="row">
															<!--SEPARADOR-->
															<div class="col-md-12" align="left">
																<div class="form-group"
																	ng-class="{ 'has-error' : marcasForm.name.$invalid && !marcasForm.name.$pristine }">
																	<div align="left">
																		<label for="name">*Nombre:</label>
																	</div>
																	<div class="input-group">
																		<span class="input-group-addon"> <i
																				class="fa fa-shield"></i>
																		</span> <input maxlength="50" type="text"
																			ng-model="dataCrudStep.stepTwo.marcaVO.nombre"
																			name="name" id="name" class="form-control"
																			ng-required="true">
																	</div>
																	<p ng-show="marcasForm.name.$invalid && !marcasForm.name.$pristine"
																		class="help-block">El nombre es requerido</p>
																</div>
															</div>
															<!--SEPARADOR-->
														</div>
														<div class="row">
															<!--SEPARADOR-->
															<div class="col-md-6">
																<div class="form-group"
																	ng-class="{ 'has-error' : marcasForm.forma.$error.required && marcasForm.forma.$dirty }">
																	<label for="radar">Forma:</label>
																	<div class="input-group">
																		<div class="input-group-addon">
																			<i class="fa fa-flask"></i>
																		</div>
																		<select class="form-control select2" select2
																			name="forma" id="forma"
																			ng-required="true"
																			ng-change="cambiarRespuesta(dataCrudStep.stepThree.camposVO.camposVO.forma)"
																			ng-options="x.cdForma as x.nombre for x in listForma"
																			ng-model="dataCrudStep.stepTwo.marcaVO.forma">
																			<option value="">
																				{{'APP.Base.mensaje.seleccioneOpcion' | translate}}
																			</option>

																		</select>
																	</div>
																	<p ng-show="marcasForm.forma.$error.required && marcasForm.forma.$dirty"
																		class="help-block">La forma es requerida</p>
																</div>
															</div>
															<!--SEPARADOR-->


															<div class="col-md-6">
																<div class="form-group"
																	ng-class="{ 'has-error' : marcasForm.orientacion.$error.required && marcasForm.orientacion.$dirty }">
																	<label for="radar">Orientacion De Lectura:</label>
																	<div class="input-group">
																		<div class="input-group-addon">
																			<i class="fa fa-flask"></i>
																		</div>
																		<select class="form-control select2" select2
																			name="orientacion" id="orientacion"
																			ng-required="true"
																			ng-options="x.cdOri as x.nbOri for x in listOrientacion"
																			ng-model="dataCrudStep.stepTwo.marcaVO.orientacion">
																			<option value="">
																				{{'APP.Base.mensaje.seleccioneOpcion' | translate}}
																			</option>

																		</select>
																	</div>
																	<p ng-show="marcasForm.orientacion.$error.required && marcasForm.orientacion.$dirty"
																		class="help-block">La orientacion es requerido
																	</p>
																</div>
															</div>
														</div>

														<div class="row">
															<!--SEparador-->

															<div class="col-md-6">
																<div class="form-group"
																	ng-class="{ 'has-error' : marcasForm.cdColor.$invalid && !marcasForm.cdColor.$pristine }">
																	<label><span
																			class="asteriskReq">*</span>Color</label>
																	<div class="input-group">
																		<div class="input-group-addon">
																			<i class="fa fa-thumb-tack"></i>
																		</div>
																		<input ng-change="onChange(dataCrudStep.stepTwo.marcaVO.cdColor)" type="text"
																			class="form-control" name="cdColor"
																			id="cdColor" required color-picker
																			color-picker-model="dataCrudStep.stepTwo.marcaVO.cdColor"
																			ng-model="dataCrudStep.stepTwo.marcaVO.cdColor"
																			ng-style="{background:dataCrudStep.stepTwo.marcaVO.cdColor}"
																			maxlength="30" />
																	</div>
																	<p ng-show="marcasForm.cdColor.$invalid && !marcasForm.cdColor.$pristine"
																		class="help-block">El color es requerido</p>

																</div>
															</div>
															<!--separador-->
															<!--SEPARADOR-->
															<div class="col-md-6">
																<div class="form-group"
																	ng-class="{ 'has-error' : dataCrudStep.stepTwo.flagCordenadas===''}">
																	<label for="example1">*Area
																		Seleccionada:</label><span
																		class="glyphicon glyphicon-question-sign"
																		data-toggle="tooltip" data-placement="top"
																		title="{{txtMensaje}}"
																		data-original-title=""></span>
																	<div class="input-group">
																		<div class="input-group-addon">
																			<i class="fa fa-object-group"></i>
																		</div>
																		<input ng-disabled="true" class="form-control"
																			ng-required="true" name="cordenadas"
																			id="cordenadas" type="text"
																			value="X:{{dataCrudStep.stepTwo.marcaVO.x|number:0}},Y:{{dataCrudStep.stepTwo.marcaVO.y|number:0}},W:{{dataCrudStep.stepTwo.marcaVO.width}},H:{{dataCrudStep.stepTwo.marcaVO.height}}">
																		<div class="input-group-btn">
																			<label class="btn btn-danger"
																				ng-disabled="dataCrudStep.stepTwo.flagCordenadas===''"
																				;
																				ng-click="removeTrazoBeforeAdd(dataCrudStep.stepTwo.marcaVO)"
																				uib-tooltip="Eliminar Trazo">
																				<i class="fa fa-eraser"></i>
																			</label>
																		</div>
																	</div>
																	<div
																		ng-show="dataCrudStep.stepTwo.flagCordenadas===''">
																		<span style="color:#dd4b39">
																			Cordenadas Necesarias
																		</span>
																	</div>
																</div>
															</div>
															<!--SEPARADOR-->
														</div>


														<div class="row">
											
															<div class="col-md-6">
																<div class="form-group"
																	ng-class="{ 'has-error' : marcasForm.tipoMarca.$error.required && marcasForm.orientacion.$dirty }">
																	<label for="radar">Tipo Marca:</label>
																	<div class="input-group">
																		<div class="input-group-addon">
																			<i class="fa fa-flask"></i>
																		</div>
																		<select class="form-control select2" select2
																			name="tipoMarca" id="tipoMarca"
																			ng-required="true"
																			ng-options="x.cdCodigo as x.nombre for x in listTipoMarca"
																			ng-model="dataCrudStep.stepTwo.marcaVO.tipoMarca">
																			<option value="">
																				{{'APP.Base.mensaje.seleccioneOpcion' | translate}}
																			</option>

																		</select>
																	</div>
																	<p ng-show="marcasForm.tipoMarca.$error.required && marcasForm.tipoMarca.$dirty"
																		class="help-block">El tipo Marca es requerido
																	</p>
																</div>
															</div>
															<div ng-show="!dataCrudStep.stepTwo.flagEdit"
																class="col-md-6" align="center">
																<br>
																<button id="crudCamposAdd" type="button"
																	class="btn btn-primary btn-sm pull-left ng-isolate-scope"
																	ng-click="addCampo(dataCrudStep.stepTwo.marcaVO,marcasForm)"
																	tooltip="Nuevo Campo" tooltip-placement="left"
																	data-original-title="" title="">
																	<span class="fa fa-plus" aria-hidden="true"></span>

															</div>
															<div ng-show="dataCrudStep.stepTwo.flagEdit"
																class="col-md-6" align="center">
																<button id="crudCamposEdit" type="button"
																	class="btn btn-primary btn-sm pull-left ng-isolate-scope"
																	ng-click="onEdit(dataCrudStep.stepTwo.marcaVO,'afterAdd',marcasForm)"
																	tooltip="Actualizar Campo" tooltip-placement="left"
																	data-original-title="" title="">
																	<span class="fa fa-check" aria-hidden="true"></span>
																</button>
															</div>
															<!--SEPARADOR-->
														</div>
													</fieldset>
												</div>
											</form>


											<div class="col-md-12">
												<fieldset class="scheduler-border">

													<legend class="scheduler-border">Marcas Asignados

													</legend>

													<!--Empieza Tabla-->

													<section class="content">
														<div class="row">
															<div class="col-md-12">
																<div class="box box-danger">
																	<div class="box-body">
																		<div class="row centerBox">
																			<section class="col-md-12">
																				<div class="col-md-12">
																					<div>
																						<div
																							class="box-header col-md-12">
																							<div
																								class="col-md-4 col-xs-12">
																								<p
																									class="font-weight-bold">
																									Num:
																									{{ (listObjetos | filter:general.filter).length }}
																								</p>
																							</div>
																							<div
																								class="col-md-7 form-group">
																								<div class="row">
																									<div
																										class="col-md-offset-1 col-md-12 col-xs-12">
																										<div
																											class="input-group">
																											<input
																												id="searchsomething"
																												type="text"
																												class="form-control ng-pristine ng-untouched ng-valid ng-empty"
																												placeholder="Buscar por filtro"
																												ng-model="general.filter">
																											<span
																												class="input-group-addon"><i
																													class="fa fa-search"></i></span>
																										</div>
																									</div>
																								</div>
																							</div>
																						</div>
																						<div
																							class="box-body table-responsive no-padding">
																							<table id="myTable"
																								class="table table-hover header-fixed">
																								<thead>
																									<tr>
																										<th class="wrap-text"
																											sort
																											order="'nombre'"
																											by="order"
																											reverse="reverse">
																											NOMBRE</th>
																										<th
																											class="wrap-text">
																											ACCION</th>


																									</tr>
																								</thead>
																								<tbody>
																									<tr dir-paginate="x in dataCrudStep.stepTwo.listObjetos | filter:general.filter | orderBy:order:reverse | itemsPerPage: view.rowsPerPageTwo"
																										pagination-id="dir2">
																										<td
																											class="center">
																											<label
																												class="btn-xs"
																												style="color: #ffffff; background-color:{{x.cdColor}};border: 0;">
																												{{x.nombre}}
																											</label>
																										</td>
																										<td
																											class="center">
																											<a class="btn btn-primary btn-sm"
																												ng-click="validarCambios(x,marcasForm)"><i
																													class="fa fa-pencil fa-lg"></i>
																											</a>
																											<a class="btn btn-primary btn-sm"
																												ng-click="removeCampo(x)"><i
																													class="fa fa-trash-o fa-lg"></i>
																											</a>
																										</td>



																									</tr>
																									<tr
																										ng-if="(dataCrudStep.stepTwo.listObjetos | filter:general.filter).length < 1">
																										<td colspan="5"
																											class="text-center">
																											<h4>No se
																												han
																												asignado
																												Marcas
																											</h4>
																										</td>
																									</tr>
																								</tbody>
																							</table>
																						</div>
																						<div class="container-fluid">
																							<div class="fixed-table-pagination"
																								style="display: block;">
																								<div
																									class="pull-right pagination">
																									<dir-pagination-controls
																										class="pagination"
																										max-size="3"
																										pagination-id="dir2">
																									</dir-pagination-controls>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</section>

																			<!--Termina tabla-->

												</fieldset>
											</div>

											<!--Area de canvas-->

										</div>

									
										-----
									</div>
									<div class="row centerCol">
										<div class="col-xs-12 col-md-2">
											<div class="centerRow">
												<button class="btn btn-danger" wz-previous>
												<i class="fa fa-arrow-left"></i>
												</button>
												<button class="btn btn-default" ng-click="validarParametros()">
													<i class="fa fa-refresh"></i>
													Preprocesar
												</button>
												<button class="btn btn-danger" ng-click="saveStepTwo()">
													<i class="fa fa-arrow-right"></i>
												</button>
											</div>
										</div>
									</div>

							<!--TERMINAN FORMULARIOS-->
					


</body>

</html>