<meta charset="UTF-8">

<div ng-controller="liberacionImagenesController">
    <form name="myFormTemplateModal" novalidate>
        <modal open="myModalDirective" size-modal="md" noescape modalstatic>
            <modal-header title="TÍTULO DEL MODAL"></modal-header>
            <modal-body>
                <div class="row">
                    <div class="col-md-4">

                    </div>

                    <div class="col-md-4">

                    </div>

                    <div class="col-md-4">

                    </div>
                </div>
            </modal-body>
            <modal-footer btn-close="Cerrar">
                Este es el footer
            </modal-footer>
        </modal>
    </form>
</div>